.chip-grey {
    background-color: grey;
}
.chip-green {
    background-color: green;
}
.chip-blue {
    background-color: blue;
}
.chip-purple {
    background-color: purple;
}
.chip-yellow {
    background-color: gold;
}